{% extends 'base.html' %}
{% block title %}Contact - Portfolio{% endblock %}
{% block content %}
  
  <div class="section">
    <h2>Contact Me</h2>
    <div class="card">
      <p>Email: <a target="_blank">sauravtiwarich555@gmail.com</a></p>
      <p>GitHub: <a href="https://github.com/tiwarisaurabhdeveloper?tab=repositories" target="_blank">github.com/tiwarisaurabhdeveloper</a></p>
      <p>LinkedIn: <a href="https://linkedin.com/in/yourusername" target="_blank">linkedin.com/in/</a></p>
      <p>Location: Noida, India</p>
    </div>
  </div>
{% endblock %}
