{% extends 'base.html' %}
{% block title %}Services - Portfolio{% endblock %}

{% block content %}
  <h2>Services</h2>

  <div class="card-container">
    <div class="service-card" onclick="toggleUploadForm()">
      <h3>Utility For Forecasting with AutoTS</h3>
      <p>
        Developed a flexible forecasting utility that enables users to upload any time series dataset, select their desired features and target variable, and generate accurate forecasts based on selected frequencies like daily, weekly, or monthly.
      </p>
    </div>
    <div class="service-card" onclick="window.location.href='{% url 'rag_interface' %}'">
      <h3>Utility for RAG (Retriever-Augmented Generation)</h3>
      <p>
        Upload a document (PDF,TXT,JSON,CSV,EXCEL) and ask questions about its contents. The system will process the document and provide intelligent responses using RAG (Retriever-Augmented Generation) technology.
      </p>
    </div>
  </div>

  <div id="upload-form" class="upload-form" style="display: none;">
    <h3>Upload Your Dataset</h3>
    <form method="POST" enctype="multipart/form-data" action="{% url 'upload_csv' %}">
      {% csrf_token %}
      <input type="file" name="csv_file" accept=".csv" required />
      <button type="submit">Upload</button>
    </form>
  </div>

  <script>
    function toggleUploadForm() {
      const form = document.getElementById("upload-form");
      form.style.display = form.style.display === "none" ? "block" : "none";
    }
  </script>
{% endblock %}
